.container {
    width: 940px;
    margin: auto;
}
header {
    padding: 36px 0 24px 0;
    background: linear-gradient(#d5d5d5, #FFF);
}
nav ul {
    float: right;
    padding: 22px 0 0 0;
}
nav ul li {
    display: inline-block;
    padding: 0 10px 8px 10px;
    border-left: 1px dotted #d6d6d6;
    font: .7em/1.5 Tahoma;
    color: #b7b7b7;
}
nav ul li a {
    display: block;
    font: bold .9rem/1.5 Georgia;
    text-transform: uppercase;
    color: #666;
}
main {
    padding-top: 20px;
    background: #FFF url('../img/mainbg.jpg') repeat-x;
}
#slider {
    height: 340px;
    border: 1px solid #c6c6c6;
    border-radius: 7px;
    background: url('../img/slider1.jpg') center;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
h1 {
    font: bold 1.5em Georgia;
    color: #000;
    text-align: center;
    padding: 20px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
.col {
    width: 300px;
    margin-right: 20px;
    float: left;
}
.col:last-child{
    margin-right: 0;
}
.btn1 {
    background-image: linear-gradient(to right, #e8e8e8 , #f6f6f6, #e8e8e8, #eee);
    border: 1px solid #f8fafb;
    border-radius: 4px ;
    font: .8em Helvetica;
    color: #016999;
    text-align: left;
    padding: 8px 12px;
    width: 160px;
    margin: 20px 0;
    -webkit-border-radius: 4px ;
    -moz-border-radius: 4px ;
    -ms-border-radius: 4px ;
    -o-border-radius: 4px ;
}
.btn1:hover, .btn1:active {
    box-shadow: 0 0 5px #AAA;
}
.btn1 span { 
    float: right;
}
footer {
    height: 173px;
    background: #333;
    border-top: 10px solid #4c4c4c;
}
h2 {
    padding: 41px  0 0 0;
}
p {
    padding-bottom: 11px;
    width: 299px;
height: 57px;
font-size: 12px;
line-height: 14px;
color: #444444;
font-family: "Helvetica";
}
#FAcebook {
    padding-bottom: 11px;
}
::placeholder {
    font-size: 10px;
line-height: 14px;
color: #d4d4d4;
font-family: "Verdana";
}
.btn2 {
    background-image: linear-gradient(to right, #4578ac , #4e86be, #477db2, #426f9d);
    border: 1px solid #d8d8d8;
    border-radius: 4px ;
    font: .8em Helvetica;
    color: #f8fafb;
    text-align: left;
    padding: 8px 12px;
    width: 160px;
    margin: 20px 0;
    -webkit-border-radius: 4px ;
    -moz-border-radius: 4px ;
    -ms-border-radius: 4px ;
    -o-border-radius: 4px ;
}
.btn2:hover, .btn2:active {
    box-shadow: 0 0 5px #AAA;
}
.btn2 span { 
    float: right;
}
input {
    width: 288px;
    height: 32px;
}
textarea {
    width: 288px;
}
.ID1 {
    width: 233px;
height: 57px;
font-size: 12px;
line-height: 14px;
color: #444444;
font-family: "Helvetica";
display: inline-block;
vertical-align: bottom;
}

.Update {
    margin-left: 0;
}
#ID4 {
    width: 100%;
    font-size: 11px;
line-height: 10px;
color: #999999;
font-family: "Helvetica";

}
.cols {
    
    width: 470px;
    float: left;
    margin-top: 19px;
}
footer div div p {
    height: 11px;
    width: 100%;
    margin-top: 10px;
    font-size: .7em;
    line-height: .6em;
    color: #999;
    font-family: "Helvetica";
}#IP {
    padding-left: 150px;
}